@model IEnumerable<ShopBridgeAPI.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Iname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IaddDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IexpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iavailable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Iname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IaddDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IexpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iavailable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
